/*- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #d5e1ed;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    width: 330px;
    padding: 16px;
    border-radius: 19px;
    background-color: white;
    box-shadow: 5px 5px 5px black;

}

img{
    width: 100%;
}

h3{
    margin: 20px 0;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

p{
    text-align: center;
    margin: 20px 0;
    color: hsl(220, 15%, 55%);
}